@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cabin');


$primary_color: #e29400;
$dead_color: #3d1201;
$border_color: #606060;
$text_color: #7A7A7A;

$lh: 1.68291rem;

$base_font: 'Cabin', 'Roboto', sans-serif;
$code_font: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
$default_size: 14px;


// displays
$d_i: inline;
$d_b: block;
$d_ib: inline-block;