@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cabin');


$primary_color: #e29400;
$dead_color: #3d1201;
$border_color: #606060;
$text_color: #7A7A7A;


$base_font: 'Cabin', 'Roboto', sans-serif;
$default_size: 14px;


// displays
$d_i: inline;
$d_b: block;
$d_ib: inline-block;